body {
    margin: 0px auto;
    width: auto;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    color: #8087af;
    margin-top: 10px;
}

nav .icon {
    background-image: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    /* Para que la imagen se adapte al tama침o del contenedor */
    background-size: contain;
    width: 150px;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
    margin-left: 30px;
}

nav .home {
    grid-column-start: 6;
    grid-column-end: 7;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

nav .about {
    grid-column-start: 7;
    grid-column-end: 8;
    cursor: pointer;
}

nav .FAQ {
    grid-column-start: 8;
    grid-column-end: 9;
    cursor: pointer;
}

nav .contact {
    grid-column-start: 9;
    grid-column-end: 10;
    cursor: pointer;
}

nav .sign-up {
    grid-column-start: 10;
    grid-column-end: 11;
    font-weight: bold;
    cursor: pointer;
}

nav button {
    grid-column-start: 11;
    grid-column-end: 12;
    color: #73f4de;
    border-radius: 30px;
    height: 35px;
    width: 80px;
    border: 2px solid;
    border-color: #73f4de;
    background-color: white;
    cursor: pointer;
}

nav .home:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav .about:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav .FAQ:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav .contact:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav .sign-up:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav button:hover {
    color: black;
    box-shadow: 0 4px 5px #73f4de;
    transition: all 0.2s ease;
}

main {
    width: 100%;
    height: 750px;
}

main .main-container {
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    margin-left: 100px;
}

main .main-container .main-paragraph {
    color: #021060;
    font-size: 50px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.main-container .main-secondary-text {
    color: #021060;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
}

.main-button {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: #73f4de;
    border: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.main-container .main-button:hover {
    color: black;
    box-shadow: 0 4px 16px #73f4de;
    transition: all 0.2s ease;
}

.main-container img {
    width: 700px;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
}

.main-last-part {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.main-last-part .main-why p {
    color: #021060;
    font-size: 30px;
    font-weight: bold;
}

.main-last-part .main-reason p {
    color: #021060;
    font-size: 20px;
}

.last-images {
    width: 100%;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}

.last-images img {
    width: 150px;
}

.last-images .center-image {
    margin-left: 250px;
    margin-right: 250px;
}


/* footer {
    width: 100%;
}

footer .footer-container {
    display: flex;
}

footer .footer-container .footer-first-part {
    justify-content: center;
}
 */


/* footer 3 columnas y 3 filas */


/* el logo recorrerlo a la derecha */


/* alinear el body al centro */


/* hoover del bot칩n overflow hidden  sombra m치s peque침a*/