body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
}

nav .icon {
    background-image: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    /* Para que la imagen se adapte al tamaño del contenedor */
    background-size: contain;
    width: 150px;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}

nav .home {
    grid-column-start: 6;
    grid-column-end: 7;
    justify-content: center;
    align-content: center;
    color: black;
    cursor: pointer;
}

nav .about {
    grid-column-start: 7;
    grid-column-end: 8;
    color: black;
    cursor: pointer;
}

nav .FAQ {
    grid-column-start: 8;
    grid-column-end: 9;
    color: black;
    cursor: pointer;
}

nav .contact {
    grid-column-start: 9;
    grid-column-end: 10;
    color: black;
    cursor: pointer;
}

nav .sign-up {
    grid-column-start: 10;
    grid-column-end: 11;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

nav button {
    grid-column-start: 11;
    grid-column-end: 12;
    color: #73f4de;
    border-radius: 30px;
    height: 35px;
    width: 80px;
    border: 2px solid;
    border-color: #73f4de;
    background-color: white;
    cursor: pointer;
}

div:hover {
    text-decoration-line: underline;
    text-decoration-color: #73f4de;
    text-decoration-style: solid;
}

nav button:hover {
    color: black;
    /* !important; */
    box-shadow: 0 4px 16px #73f4de;
    transition: all 0.2s ease;
}